$blue : #0090c4;
body {
	background: #FFF;
	
}

.fridge-label {
	margin-top: 10px;
	background: #0D6BA7;
	font-size: 10px;
	line-height: 20px;
	text-align: center;
	color: #FFF;
	width: 320px;
}

#box {

	width: 700px;
	background: #FFF;
	margin: 0 auto;
	.half {
		width: 50%;
		float: left;
		position: relative;
		&.second {
			margin-top: 10px;
		}
	}
	
	ul {
		width: 320px;
		margin: 0;
		
		li {
			list-style: none;
			display: block;
			width: 100%;
			height: 90px;
			position: relative;
		
			&.step1 {
				background: #0090c4;
			}
			
			&.step2 {
				background: transparentize($blue, .05);
			}
			
			&.step3 {
				background: transparentize($blue, .1);			}
			
			&.step4 {
				background: transparentize($blue, .15);
			}
			
			&.step5 {
				background: transparentize($blue, .2);
			}
			
			.lab {
				position: absolute;
				top: 10px;
				left: 15px;
				color: #FFF;
				font-size: 12px;
			}
		}
	}
	
	
	.temperature {
		width: 304px;
		left: 8px;
		top: 180px;
		height: 83px;
		margin-top: 3px;
		border: 2px solid #FFF;
		position: absolute;
		background: url("../images/draghandle.png") 270px center no-repeat transparent;
		background-size: 20px 65px;
		-webkit-transition: opacity 300ms ease-out;
				    -moz-transition: opacity 300ms ease-out;
				    transition: opacity 300ms ease-out;
		span {
			font-size: 30px;
			line-height: 83px;
			color: #FFF;
			width: 40%;
			float: left;
			display: block;
			&.dash {
				width: 10%;
				text-align: center;
				font-size: 25px;
				visibility: hidden;
			}
			&.lowtemp {
				width: 45%;
				text-align: right;
				background: url("../images/low_temp.png") 55% 32px no-repeat transparent;
				background-size: 14px 20px; 
			}
			
			&.hightemp {
				background: url("../images/high_temp.png") 0px 32px no-repeat transparent;
				background-size: 14px 20px;
				padding-left: 20px; 
			}
			
			&.freezer-lowtemp {
				background-position: 60% 32px;
			}
		}
		
		&:hover {
			cursor: pointer;
		}
		
		&.ui-draggable-dragging {
			opacity: .5 !important;
			background: rgba(255,255,255, .3);
		}
		
		sup {
			font-size: 14px;
			position: relative;
			top: -11px;
		}
	}
	
	.icon {
		
		height: 170px;
		width: 170px;
		background: url("../images/reset.png") center center no-repeat transparent;
		background-size: 150px 150px;
		margin: 0 auto;
		display: block;
		&.food {
			background-image: url("../images/food.jpg");
		}
		
		&.ice {
			background-image: url("../images/ice.jpg");
		}
		
		&.crushed {
			background-image: url("../images/crushed.jpg");
		}
		
		&.water {
			background-image: url("../images/water.jpg");
		}
		
		&.food.active {
			background-image: url("../images/food_over.jpg");
		}
		
		&#set-ideal.active {
			background-image: url("../images/reset_over.jpg");
		}

		&:hover {
			cursor: pointer;
		}
	}
	
	hr {
		width: 240px;
		margin: 0 auto;
	}
	
}


#freezer {
	position: relative;
		ul {
		.step1 {
				background: transparentize($blue, .25) !important;
			}
			
			.step2 {
				background: transparentize($blue, .35) !important;
			}
			
			.step3 {
				background: transparentize($blue, .45) !important;			}
			
			.step4 {
				background: transparentize($blue, .5) !important;
			}
			
			.step5 {
				background: transparentize($blue, .6) !important;
			}
		}
}

#food-suggestions {
	height: 450px;
	width: 320px;
}

.food-suggestions {
	background: url("../images/fridge.jpg") center center no-repeat transparent;
	background-size: 320px 450px;
	height: 450px;
	width: 320px;
	
	&:hover {
		cursor: pointer;
	}
}

.logo {
	height: 109px;
	width: 200px;
	background: url("../images/smrtrfridge.png") center center no-repeat;
	background-size: 100px 55px;
	text-align: center;
	margin: 0 auto;
}


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider {  position: relative; zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}